/* style tooltip */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(40, 115, 230, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(40, 115, 230, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.name {
  text-align: center;
  color: #e67428;
  font-size: 1.4em;
}

/* style select dropdown */
#selectButton {
  background: #2873e6;
  padding: 6px;
  font-size: 1.2em;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
